@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400;500;600;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif!important;
    font-size: 24px;
}

h3 {
    font-weight: 600!important;
}

.btn-dark:hover,.btn-light:hover, .btn-color{
    background-color: #6EE246!important;
} 

.btn-secondary-color {
    border-color: #6EE246!important;
    color: #6EE246!important;
}

.navbar-brand {
    margin-left: 8rem;
}

.navbar {
    background-color: #10101C;
}

.navbar-brand small {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    margin-left: 2rem;
}

#right-side {
    border-left: 2px solid #10101C;
}

@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #ffffff;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
}

.bg-indigo {
background-color: #10101C;
}

@media (min-width: 992px) {
.card-registration-2 .bg-indigo {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
}
@media (max-width: 991px) {
.card-registration-2 .bg-indigo {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
}

.side-light {
    border-radius: 0!important;
    border-bottom: 2px solid #000!important;
}

.side-dark {
    border-radius: 0!important;
    border-bottom: 2px solid rgb(255, 255, 255)!important;
}

select.side-light{
    border: none;
}

.form-outline.side-dark input {    
    color: #ffffff;
}

.bt-shadow {
    box-shadow: 0 -1px 25px #10101c2a;
}

#welcome {
    padding-bottom: 0!important;
}

#welcome p {
    font-size: 1.3rem;
}

#buddha-value {
    color: #6EE246;
    font-weight: bold;
}

footer section {
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
}